{% load static %}
{% load i18n %}
{% load utils %}


<div class="table-responsive">
    <table class="table table-striped">
        <thead class="thead-inverse">
            <th width="5%">#</th>
            <th> Type </th>
            <th> Comment </th>
            <th> Partnumber </th>
            <th> Value </th>
            <th> Units</th>
            <th> Action</th>
        </thead>
        <tbody>
            {% for item in item_list %}
                <tr>
                    <th>
                        {{forloop.counter|paginate:item_list.number}}
                    </th>
                    <td>  {{ item.subcategory }}</td>
                    <td>  {{ item.comment }}</td>
                    <td>  {{ item.part_number }}</td>
                    <td>  {{ item.value|default:'0' }}</td>
                    <td> {{ item.value_units }}</td>
                    <td>
                        {% include "items/item_action_by_permition.html" with item=item %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% include "paginator.html" %}
</div>
