{% load static %}
{% load i18n %}
{% load utils %}


<div class="table-responsive">
    <table class="table table-striped">
        <thead class="thead-inverse">
            <th width="5%">#</th>
            <th> Type </th>
            <th> Comment </th>
            <th> Partnumber </th>
            <th> Value </th>
            <th> Units</th>
            <th> Action</th>
        </thead>
        <tbody>
            {% for item in item_list %}
                <tr>
                    <th>
                        {{forloop.counter|paginate:item_list.number}}
                    </th>
                    <td>  {{ item.subcategory }}</td>
                    <td>  {{ item.comment }}</td>
                    <td>  {{ item.part_number }}</td>
                    <td>  {{ item.value|default:'0' }}</td>
                    <td> {{ item.value_units }}</td>
                    <td>
                        {% if perms.items.add_item %}
                            <div class="dropdown d-inline mr-2">
                                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {% translate "Action"%}
                                </button>
                                <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 28px, 0px); top: 0px; left: 0px; will-change: transform;">
                                    <a class="dropdown-item" href="{{ item.get_absolute_url }}">{% translate "Detail" %}</a>
                                    <a class="dropdown-item" href="#">{% translate "Edit" %}</a>
                                </div>
                            </div>
                        {% else %}
                            <a href="{{ item.get_absolute_url }}" class="btn btn-primary">{% translate "Detail" %}</a>
                        {% endif %}

                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% include "paginator.html" %}
</div>
