{% extends "index.html" %}
{% load static %}
{% load i18n %}

{% block section_header %} <h1>{{title}}: {{ item }}</h1> {% endblock %}


{% block main %}
     <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                  <h4>{{ item.subcategory }} {{ item.designator }}</h4>
                    <div class="card-header-action">
                        {% if perms.items.add_item %}
                          <a href="{{ item.get_edit_url }}" class="btn btn-primary">
                            {% translate "Edit" %}
                          </a>
                        {% endif %}
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-sm-4 col-md-4 col-lg-4">
                            <dl>
                              <dt>{% translate "Partnumber" %}</dt>
                              <dd>{{item.part_number}}</dd>
                              <dt>{% translate "Comment" %}</dt>
                              <dd>{{item.comment}}</dd>
                              <dt>{% translate "In Stock" %}</dt>
                              <dd>{{item.get_value }} {{item.value_units }}</dd>
                              <dt>{% translate "Avereg sales" %}</dt>
                              <dd>Coming soon  {{item.value_units }}/month</dd>
                              <dt>&nbsp;</dt>
                              <dd>Coming soon  {{item.value_units }}/year</dd>
                            </dl>
                            <h6> {% translate "Documentation" %}</h6>
                            <dl class="">
                             <dl>
                              {% for file in documents %}
                                  <dt>{{ file.doc_type.name }}</dt>
                                  <dd><a href="{{ MEDIA_URL }}{{ file.document.name }}">{{ file.filename }}</a></dd>
                              {% endfor %}
                            </dl>
                        </div>
                        <div class="col-12 col-sm-8 col-md-8 col-lg-8">

                        </div>
                    </div>
                    <div class="margin-20"></div>
                    <div class="row">
                        <div class="col-12">
                            <ul class="nav nav-tabs" id="Item tabs" role="tablist">
                              <li class="nav-item">
                                <a class="nav-link active" id="used_in-tab" data-toggle="tab" href="#used_in" role="tab"
                                  aria-controls="used_in" aria-selected="true">{% translate 'BOM' %}</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" id="warehouse-tab" data-toggle="tab" href="#warehouse" role="tab"
                                  aria-controls="warehouse" aria-selected="false">{% translate 'Warehouse' %}</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link " id="parameters-tab" data-toggle="tab" href="#parameters" role="tab"
                                  aria-controls="parameters" aria-selected="false">{% translate 'Parameters' %}</a>
                              </li>
                            </ul>
                            <div class="tab-content tab-bordered" id="myTab3Content">
                              <div class="tab-pane fade show active" id="used_in" role="tabpanel" aria-labelledby="used_in-tab">
                                  <div class="table-responsive">
                                    <table class="table table-striped">
                                    <thead class="thead-inverse">
                                        <th> {% translate 'Position' %} </th>
                                        <th> {% translate 'Designator' %} </th>
                                        <th> {% translate 'Qtt/Value' %} </th>
                                        <th> {% translate 'Units' %}</th>
                                        <th> {% translate 'Action' %}</th>
                                    </thead>
                                        <tbody>
                                         <tr>
                                             <td colspan="6" style="text-align: center; font-weight: bold">
                                                {% translate 'Components' %}
                                              </td>
                                         </tr>
                                         {% for component in components %}
                                            <tr>
                                                <td>  {{ component.position}}</td>
                                                <td>  {{ component.item.designator }}</td>
                                                <td>  {{ component.quantity }} / {{ component.item.get_value }}</td>
                                                <td> {{ component.item.value_units }}</td>
                                                <td>
                                                    {% include "items/item_action_by_permition.html" with item=component.item %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                         {% if consumables %}
                                         <tr>
                                             <td colspan="6" style="text-align: center; font-weight: bold">
                                                {% translate 'Assembly parts' %}
                                              </td>
                                         </tr>
                                         {% endif %}
                                         {% for assembly in assemblies %}
                                            <tr>
                                                <td>  {{ assembly.position}}</td>
                                                <td>  {{ assembly.item.designator }}</td>
                                                <td>  {{ assembly.quantity }} / {{ assembly.item.get_value }}</td>
                                                <td> {{ assembly.item.value_units }}</td>
                                                <td>
                                                    {% include "items/item_action_by_permition.html" with item=assembly.item %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                         {% if consumables %}
                                         <tr>
                                             <td colspan="6" style="text-align: center; font-weight: bold">
                                                {% translate 'Consumables' %}
                                              </td>
                                         </tr>
                                         {% endif %}
                                         {% for consumable in consumables %}
                                            <tr>
                                                <td>  {{ consumable.position}}</td>
                                                <td>  {{ consumable.item.designator }}</td>
                                                <td>  {{ consumable.quantity }} / {{ consumable.item.get_value }}</td>
                                                <td> {{ consumable.item.value_units }}</td>
                                                <td>
                                                     {% include "items/item_action_by_permition.html" with item=consumable.item %}
                                                </td>
                                            </tr>
                                        {% endfor %}

                                    </tbody>
                                    </table>
                                  </div>
                              </div>
                              <div class="tab-pane fade" id="warehouse" role="tabpanel" aria-labelledby="value-tab">
                                income and outcome + price
                              </div>
                              <div class="tab-pane fade" id="parameters" role="tabpanel" aria-labelledby="parameters-tab">
                                <div class="table col-12 col-sm-6 col-md-6 col-lg-4">
                                  <table class="table table-sm">
                                    <thead>
                                      <tr>
                                        <th scope="col">{% translate "Parameter" %}</th>
                                        <th scope="col">{% translate "Value" %}</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                    {% for key, value in item.attributes.items %}
                                        <tr>
                                            <td>{{ key }}</td>
                                            <td>{{ value }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                  </table>
                            </div>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     </div>

{% endblock %}


{% block js_libraries %}
{% endblock %}
  <!-- Page Specific JS File -->
{% block page_specific_js %}
{% endblock %}

