{% extends "items/add_item.html" %}
{% load static %}
{% load i18n %}
{% load utils %}

{% block section_header %} {% endblock %}

{% block value_field %}
    {{ item_form.value_units | attr:"class:custom-select, required:required, hidden:true" }}
{% endblock %}

{% block title_action %}
    <div class="card-header-action">
        <a class="btn btn-icon icon-left btn-danger" href="{{ delete_url }}"><i class="fas fa-times"></i>{% translate "Delete" %}</a>
    </div>

{% endblock %}

{% block additional_field %}
        <div class="row margin-20"></div>
        <div class="row">
            <div class="col-6">
                <h4> {% translate 'Documentation' %}</h4>
                <div id="file_list_id">
                {% for file in documents %}
                  <dt class="padding-5">{{ file.doc_type.name }}</dt>
                  <dd class="padding-5"><a href="{{ MEDIA_URL }}{{ file.document.name }}">{{ file.filename }}</a>
                      <span class="margin-10"></span>
                  <a href="{% url 'items:delete_file' file.pk %}" class="btn btn-icon btn-sm btn-danger padding-10"><i class="fas fa-times"></i></a>
                   </dd>
                {% endfor %}
                </div>
                <a class="btn btn-success" href="{% url 'items:file_add_popup' item.pk "file_list_id" %}"
                   onclick="return showAddPopup(this);">
                                      {% translate "Add document" %}
                </a>
            </div>
        </div>
    <div class="row margin-20"></div>
        <div class="row">
            <div class="col-12">
                <h4> {% translate 'Parameters' %}</h4>
                    <div class="table-responsive">
                      <table id="editParameters" class="table table-striped">
                        <thead>
                          <tr>
                            <th>{% translate 'Name' %}</th>
                            <th>{% translate 'Value' %}</th>
                            <th>{% translate 'Action' %}</th>
                          </tr>
                        </thead>
                        <tbody>
                        {% for key, value in item.attributes.items %}
                            <tr>
                                <td id="{{forloop.counter}}">{{ key }}</td>
                                <td id="{{forloop.counter}}">{{ value }}</td>
                                <th id="{{forloop.counter}}"><button class="btn btn-danger" id="id_row_delete" >{% translate "Dell" %}</button></th>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                          <tr>
                            <th>
                              <button class="btn btn-success" id="id_row_add">{% translate "Add row" %}</button>
                            </th>
                            <th>
                              <input type="hidden" value="{{ item.attributes|length }}" id="id_row_counts">
                            </th>
                          </tr>
                        </tfoot>
                      </table>
                    </div>
                   <div class="card-footer text-right">
                    <button class="btn btn-primary" id="id_parameters_save" href="{{ item.get_edit_url }}">{% translate "Save Changes" %}</button>
                  </div>
            </div>
        </div>
{% endblock %}



{% block js_libraries %}
    <script src="{% static "assets/bundles/editable-table/mindmup-editabletable.js" %}"></script>
{% endblock %}
  <!-- Page Specific JS File -->
{% block page_specific_js %}
    <script src="{% static "assets/js/page/editable-table.js" %}"></script>
{% endblock %}

