{% load static %}
{% load i18n %}
{% load utils %}
<div class="row">
    {% if form.non_field_errors %}
      <div class="non-field-errors">
        {% for err in form.non_field_errors %}
          <p class="form-error">{{ err }}</p>
        {% endfor %}
      </div>
    {% endif %}
  <div class="form-group col-md-4 col-12">
      {{ form.position.label_tag }}
      {% if   form.position.errors%}
          {{  form.position | attr:"class:form-control is-invalid"}}
      {% else %}
         {{  form.position | attr:"class:form-control"}}
      {% endif %}
    <div class="invalid-feedback">
      {{  form.position.errors.as_text }}
    </div>
  </div>
  <div class="form-group col-md-4 col-12">
      {{ form.item.label_tag }}
      {% if  form.item.errors%}
          {{ form.item | attr:"class:form-control is-invalid"}}
      {% else %}
         {{ form.item | attr:"class:form-control"}}
      {% endif %}
    <div class="invalid-feedback">
      {{ form.item.errors.as_text }}
    </div>
  </div>
  <div class="form-group col-md-3 col-9">
      {{ form.quantity.label_tag }}
      {% if  form.quantity.errors%}
          {{ form.quantity | attr:'class:form-control is-invalid searchable'}}
      {% else %}
         {{ form.quantity | attr:'class:form-control searchable'}}
      {% endif %}
    <div class="invalid-feedback">
      {{ form.quantity.errors.as_text }}
    </div>
  </div>
    {{form.DELETE | attr:'class:display-none'}}
    {{form.id }}
    <div class="form-group col-md-1 col-1">
        <div class="margin-5">&nbsp;</div>
        <button class="btn btn-danger" type="button">
            <i class="fas fa-times"></i>
        </button>
    </div>
</div>