{% extends "index.html" %}
{% load static %}
{% load i18n %}
{% load utils %}

{% block section_header %} <h1>{% translate "File Type" %}</h1> {% endblock %}


{% block body %}
    <div class="loader"></div>
    <div id="app">
        <section class="section">
            <div class="container mt-5">
              <div class="page-inner">
                <form method = 'POST' enctype = "multipart/form-data" class="needs-validation">
                    {% csrf_token %}
                    <div class="card-header">
                      <h4>{% translate "Edit File Type" %}</h4>
                    </div>
                    <div class="card-body">
                      <div class="row">
                        <div class="form-group col-md-4 col-12">
                              {{ form.name.label_tag }}
                              {% if  form.name.errors%}
                                {{ form.name | attr:"class:form-control is-invalid, required:required"}}
                              {% else %}
                                {{ form.name | attr:"class:form-control, required:required"}}
                              {% endif %}
                            <div class="invalid-feedback">
                              {{ form.name.errors.as_text }}
                            </div>
                        </div>
                      </div>
                    </div>
                    <div class="card-footer text-right">
                      <button class="btn btn-primary">{% translate "Save Changes" %}</button>
                    </div>
                </form>
              </div>
            </div>
        </section>
    </div>
{% endblock %}


{% block js_libraries %}
{% endblock %}
<!-- Page Specific JS File -->
{% block page_specific_js %}
{% endblock %}

