{% extends "index.html" %}
{% load static %}
{% load i18n %}
{% load utils %}

{% block section_header %} <h1>{% translate "Subcategory" %}</h1> {% endblock %}


{% block body %}
    <div class="loader"></div>
    <div id="app">
        <section class="section">
            <div class="container mt-5">
              <div class="page-inner">
                <form method = 'POST' enctype = "multipart/form-data" class="needs-validation">
                    {% csrf_token %}
                    <div class="card-header">
                      <h4>{% translate "Edit Subcategory" %}</h4>
                    </div>
                    <div class="card-body">
                      <div class="row">
                        <div class="form-group col-md-4 col-12">
                            {{ form.document.label_tag }}
                            {% if  form.document.errors%}
                              {{ form.document | attr:'class:form-control is-invalid searchable, required:required'}}
                            {% else %}
                              {{ form.document | attr:'class:form-control searchable, required:required'}}
                            {% endif %}
                            <div class="invalid-feedback">
                              {{ form.document.errors.as_text }}
                            </div>
                        </div>
                        <div class="form-group col-md-4 col-12">
                              {{ form.doc_type.label_tag }}
                              {% if  form.doc_type.errors%}
                                {{ form.doc_type | attr:"class:form-control is-invalid, required:required"}}
                              {% else %}
                                {{ form.doc_type | attr:"class:form-control, required:required"}}
                              {% endif %}
                            <div class="invalid-feedback">
                              {{ form.doc_type.errors.as_text }}
                            </div>
                        </div>
                        <div class="form-group col-md-1 col-12">
                            <div class="row margin-20"></div>
                            <div class="row">
                                <a href="{% url 'items:file_type_add_popup' form.doc_type.id_for_label %}"  onclick="return showAddPopup(this);">
                                  <i class="material-icons">add</i>
                                </a>
                                <a href="{% url 'items:file_type_edit_popup' 0 form.doc_type.id_for_label %}"  onclick="return showEditPopup(this);">
                                  <i class="material-icons">edit</i>
                                </a>
                            </div>
                        </div>
                      </div>
                    </div>
                    <div class="card-footer text-right">
                      <button class="btn btn-primary">{% translate "Save Changes" %}</button>
                    </div>
                </form>
              </div>
            </div>
        </section>
    </div>
{% endblock %}


{% block js_libraries %}
{% endblock %}
<!-- Page Specific JS File -->
{% block page_specific_js %}
{% endblock %}

