{% extends "index.html" %}
{% load static %}
{% load i18n %}
{% load utils %}


{% block section_header %}
    <h1>{{ title }}</h1>
{% endblock %}


{% block main %}

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4>{% if perms.items.add_item %}
                        <a href="{{add_url}}" class="btn btn-success">{% translate "Add New" %}</a>
                        {% endif %}
                    </h4>
                    <div class="card-header-form ">
                      <form>
                        <div class="input-group">
                          <input type="search" class="form-control" placeholder="Search" id="search" name="q" value="{{ q }}">
                          <div class="input-group-btn">
                            <button class="btn btn-primary"><i class="fas fa-search"></i></button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
              <div class="card-body p-0" id="result">

                {% include "items/ajax_search.html" %}

              </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js_libraries %}
{% endblock %}
  <!-- Page Specific JS File -->
{% block page_specific_js %}

{% endblock %}

{% block last_scripts %}
     <script>
        $(function() {
            let inp = document.getElementById('search')
            inp.addEventListener('input', search);
        });

        function searchSuccess(data, textStatus, jqXHR)
        {
            $('#result').html(data);
            let result_table = document.getElementById("result").getElementsByTagName('table')[0].getElementsByTagName('tbody')[0];
            search_highlight(result_table, $('#search').val());
        }
    </script>
{% endblock %}

