{% extends "index.html" %}
{% load static %}
{% load i18n %}
{% load utils %}


{% block section_header %}
    <h1>{{ title }}</h1>
{% endblock %}


{% block main %}

    <div class="row">
        <div class="col-12 col-sm-12 col-lg-12">
            <div class="card">
              <div class="card-header navbar">
                <h4 class="d-inline">
                    {% csrf_token %}
                <form class="form-inline " method="get" action="{{ request.path }}">
                    <input class="form-control" type="search" placeholder="Search" aria-label="Search"
                           id="search" name="q" value="{{ q }}">
                  </form>
                </h4>
                <div class="card-header-action">
                    {% if perms.items.add_item %}
                        <a href="{{add_url}}" class="btn btn-success">{% translate "Add New" %}</a>
                    {% endif %}
                </div>
              </div>
              <div class="card-body" id="result">
                <table class="table table-hover">
                    <thead class="thead-inverse">
                        <th width="5%">#</th>
                        <th> Type </th>
                        <th> Comment </th>
                        <th> Partnumber </th>
                        <th> Value </th>
                        <th> Units</th>
                    </thead>
                    <tbody>
                        {% for item in item_list %}
                            <tr>
                                <th>
                                    {{forloop.counter|paginate:item_list.number}}
                                </th>
                                <td>  {{ item.subcategory }}</td>
                                <td>  {{ item.comment }}</td>
                                <td>  {{ item.part_number }}</td>
                                <td>  {{ item.value }}</td>
                                <td> {{ item.value_units }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

                {% include "paginator.html" %}

              </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js_libraries %}
{% endblock %}
  <!-- Page Specific JS File -->
{% block page_specific_js %}
    <script src="{% static "assets/js/hilitor.js" %}"></script>
{% endblock %}

{% block last_scripts %}
     <script>
        $(function() {
            let inp = document.getElementById('search')
            inp.addEventListener('input', search);
        });

        function searchSuccess(data, textStatus, jqXHR)
        {
            $('#result').html(data);
            let result_table = document.getElementById("result").getElementsByTagName('table')[0].getElementsByTagName('tbody')[0];
            search_highlight(result_table, $('#search').val());
        }
    </script>
{% endblock %}

