{% load static %}
{% load i18n %}
{% load utils %}


 {% if perms.items.add_item %}
    <div class="dropdown d-inline mr-2">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {% translate "Action"%}
        </button>
        <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 28px, 0px); top: 0px; left: 0px; will-change: transform;">
            <a class="dropdown-item" href="{{ item.get_absolute_url }}">{% translate "Detail" %}</a>
            <a class="dropdown-item" href="{{ item.get_edit_url }}">{% translate "Edit" %}</a>
            {% block app_defined %}
            {% endblock %}
        </div>
    </div>
{% else %}
    <a href="{{ item.get_absolute_url }}" class="btn btn-primary">{% translate "Detail" %}</a>
{% endif %}
