{% load i18n %}
{% autoescape off %}
{% blocktranslate with username=user.get_full_name %}
Hello {{ username }}!
to initiate the password reset process for your WCF account,
click the link below:
{% endblocktranslate  %}

{{ protocol }}://{{ domain }}{% url 'account:password_reset_confirm' uidb64=uid token=token %}

{% blocktranslate %}
If clicking the link above doesn't work, please copy and paste the URL in a new browser
window instead.
Sincerely,
The WCF Team
{% endblocktranslate  %}
{% endautoescape %}