<input type="search" list="id_{{ widget.name }}_options" name="{{ widget.name }}_selector" id="id_{{ widget.name }}_selector"
       value="{{ widget.text|default:'' }}" autocomplete="off" {% include "django/forms/widgets/attrs.html" %}
        href="{{ widget.search_url }}">
  <datalist id="id_{{ widget.name }}_options">
  </datalist>

<input type="text" style="opacity: 0;
  width: 0; height: 0;
  float: left;"  name="{{ widget.name }}" id="id_{{ widget.name}}"
{% if widget.required %} required {% endif %} {% if widget.value != None %}value="{{ widget.value}}"{% endif %}>