{% extends "index.html" %}
{% load static %}
{% load i18n %}
{% load utils %}
{% block general_css %}
{% endblock %}

{% block section_header %}
    <h1>{{ title }}</h1>
{% endblock %}


{% block main %}

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-header-form ">
                             {% csrf_token %}
                        <form>
                            {{ form.search|attr:"class:form-control" }}
                            <button>Ok</button>
                        </form>
                    </div>
                  </div>
              <div class="card-body p-0" id="result">

                <div class="table-responsive">
    <table class="table table-striped">
        <thead class="thead-inverse">
            <th width="5%">#</th>
            <th> {% translate 'Type' %} </th>
            <th> {% translate 'Comment' %} </th>
            <th> {% translate 'Partnumber' %} </th>
            <th> {% translate 'Value' %} </th>
            <th> {% translate 'Units' %}</th>
            <th> {% translate 'Action' %}</th>
        </thead>
        <tbody>
            {% for item in item_list %}
                <tr>
                    <th>
                        {{forloop.counter}}
                    </th>
                    <td>  {{ item.item.subcategory }}</td>
                    <td>  {{ item.item.comment }}</td>
                    <td>  {{ item.item.part_number }}</td>
                    <td>  {{ item.value|default:'0' }}</td>
                    <td> {{ item.item.value_units }}</td>
                    <td>
                        {% include "purchase/item_action_by_permition.html" with item=item %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

              </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js_libraries %}
{% endblock %}
  <!-- Page Specific JS File -->
{% block page_specific_js %}
    {{ form.media.render_js|join:" " }}
{% endblock %}

{% block last_scripts %}
{% endblock %}


