{% extends 'index.html' %}
{% load static %}
{% load i18n %}

{% block general_css %}
    <link rel="stylesheet" href="{% static "assets/bundles/prism/prism.css" %}">
    <link rel="stylesheet" href="{% static "assets/bundles/summernote/summernote-bs4.css" %}">

{% endblock %}

{% block section_header %}
    <h1>{% translate "Profile" %}</h1>
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-xl-12 col-lg-12">
          <div class="section-body">
            <div class="row mt-sm-4">
              <div class="col-12 col-md-12 col-lg-4">
                <div class="card author-box">
                  <div class="card-body">
                    <div class="author-box-center">
                        <div class="avatar-item" style="width: 120px; margin: 0 auto">
                          <img alt="image" src="{% static "assets/img/users/user-1.png" %}" class="rounded-circle author-box-picture img-fluid">
                          {% if ami %}
                            <div class="avatar-badge" title="Editor" data-toggle="modal" data-target="#exampleModal"><i class="fas fa-wrench"></i></div>
                          {% endif %}
                        </div>
                      <div class="clearfix"></div>

                      <div class="author-box-name">
                        <a href="#">{{ user_profile.get_full_name}}</a>
                      </div>
                      <div class="author-box-job">{{ user_profile.profile.position }}</div>
                    </div>
                    <div class="text-center">
                      <div class="author-box-description">
                        <p>
                          {{ user_profile.profile.bio }}
                        </p>
                      </div>

                      <div class="w-100 d-sm-none"></div>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header">
                    <h4>{% translate "Personal Details" %}</h4>
                  </div>
                  <div class="card-body">
                    <div class="py-4">
                    <p class="clearfix">
                        <span class="float-left">
                          {% translate "Location" %}
                        </span>
                        <span class="float-right text-muted">
                          {{ user_profile.profile.location }}
                        </span>
                    </p>
                      <p class="clearfix">
                        <span class="float-left">
                          {% translate "Internal number" %}
                        </span>
                        <span class="float-right text-muted">
                          {{ user_profile.profile.internal_phone }}
                        </span>
                      </p>
                      <p class="clearfix">
                        <span class="float-left">
                          {% translate "Mobile number" %}
                        </span>
                        <span class="float-right text-muted">
                          {{ user_profile.profile.mobile_phone }}
                        </span>
                      </p>
                      <p class="clearfix">
                        <span class="float-left">
                          {% translate "email" %}
                        </span>
                        <span class="float-right text-muted">
                          {{ user_profile.email }}
                        </span>
                      </p>
                    </div>
                  </div>
                </div>

              </div>
              {% if ami %}
                <div class="col-12 col-md-12 col-lg-8">
                <div class="card">
                  <div class="padding-20">
                    <form method="post" class="needs-validation">
                            {% csrf_token %}
                          <div class="card-header">
                            <h4>Edit Profile</h4>
                          </div>
                          <div class="card-body">
                            <div class="row">
                              <div class="form-group col-md-6 col-12">
                                <label>{% translate "First Name" %}</label>
                                <input type="text" class="form-control" name="first_name" id="id_first_name"
                                       value="{{ user_form.first_name.value }}">
                                <div class="invalid-feedback">
                                  {%  translate "Please fill in the first name" %}
                                </div>
                              </div>
                              <div class="form-group col-md-6 col-12">
                                <label>{% translate "Last Name" %}</label>
                                <input type="text" class="form-control" name="last_name" id="id_last_name"
                                       value="{{ user_form.last_name.value }}">
                                <div class="invalid-feedback">
                                  {%  translate "Please fill in the last name" %}
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="form-group col-md-2 col-12">
                                <label>{% translate "Internal number" %}</label>
                                <input type="text" class="form-control" name="internal_phone" id="id_internal_phone"
                                       value="{{ profile_form.internal_phone.value }}">
                              </div>
                              <div class="form-group col-md-3 col-12">
                                <label>{% translate "Mobile number" %}</label>
                                <input type="tel" class="form-control" name="mobile_phone" id="id_mobile_phone"
                                       value="{{ profile_form.mobile_phone.value }}">
                              </div>
                              <div class="form-group col-md-7 col-12">
                                <label>{% translate "Location" %}</label>
                                <input type="text" class="form-control" name="location" id="id_location"
                                       value="{{ profile_form.location.value }}">
                              </div>
                            </div>
                            <div class="row">
                              <div class="form-group col-12">
                                <label>{% translate "Bio" %}</label>
                                <textarea name="bio" id="id_bio"
                                  class="form-control summernote-simple"> {{ profile_form.bio.value }}</textarea>
                              </div>
                            </div>
                          </div>
                          <div class="card-footer text-right">
                            <button class="btn btn-primary">{% translate "Save Changes" %}</button>
                          </div>
                        </form>
                  </div>
                </div>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
    </div>
{% endblock %}

{% block free_content %}
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="formModal"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="formModal">{% translate "Upload new avatar" %}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form class="">


                  <button type="button" class="btn btn-primary m-t-15 waves-effect">LOGIN</button>
                </form>
              </div>
            </div>
          </div>
    </div>
{% endblock %}

{% block js_libraries %}
    <script src="{% static "assets/bundles/summernote/summernote-bs4.js"%}"></script>
    <script src="{% static "assets/bundles/prism/prism.js" %}"></script>
{% endblock %}

{% block page_specific_js %}

{% endblock %}