{% extends 'index.html' %}
{% load static %}
{% load utils %}
{% load i18n %}

{% block general_css %}
    <link rel="stylesheet" href="{% static "assets/bundles/prism/prism.css" %}">
    <link rel="stylesheet" href="{% static "assets/bundles/summernote/summernote-bs4.css" %}">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "assets/cropper/cropper.min.css" %}">
    <style>
        .container {
          margin: 20px auto;
          max-width: 640px;
        }

        img {
          max-width: 100%;
        }

        .cropper-view-box,
        .cropper-face {
          border-radius: 50%;
        }
    </style>
{% endblock %}

{% block section_header %}
    <h1>{% translate "Profile" %}</h1>
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-xl-12 col-lg-12">
          <div class="section-body">
            <div class="row mt-sm-4">
              <div class="col-12 col-md-12 col-lg-4">
                <div class="card author-box">
                  <div class="card-body">
                    <div class="author-box-center">
                        <div class="avatar-item" style="width: 120px; margin: 0 auto">
                          <img alt="image" src="{{MEDIA_URL}}{{ user_profile.profile.avatar }}" class="rounded-circle author-box-picture img-fluid">
                          {% if ami %}
                            <div class="avatar-badge" title="Editor" data-toggle="modal" data-target="#exampleModal"><i class="fas fa-wrench"></i></div>
                          {% endif %}
                        </div>
                      <div class="clearfix"></div>

                      <div class="author-box-name">
                        <a href="#">{{ user_profile.get_full_name}}</a>
                      </div>
                      <div class="author-box-job">{{ user_profile.profile.position }}</div>
                    </div>
                    <div class="text-center">
                      <div class="author-box-description">
                        <p>
                          {{ user_profile.profile.bio }}
                        </p>
                      </div>

                      <div class="w-100 d-sm-none"></div>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header">
                    <h4>{% translate "Personal Details" %}</h4>
                  </div>
                  <div class="card-body">
                    <div class="py-4">
                    <p class="clearfix">
                        <span class="float-left">
                          {% translate "Location" %}
                        </span>
                        <span class="float-right text-muted">
                          {{ user_profile.profile.location }}
                        </span>
                    </p>
                      <p class="clearfix">
                        <span class="float-left">
                          {% translate "Internal number" %}
                        </span>
                        <span class="float-right text-muted">
                          {{ user_profile.profile.internal_phone }}
                        </span>
                      </p>
                      <p class="clearfix">
                        <span class="float-left">
                          {% translate "Mobile number" %}
                        </span>
                        <span class="float-right text-muted">
                          {{ user_profile.profile.mobile_phone }}
                        </span>
                      </p>
                      <p class="clearfix">
                        <span class="float-left">
                          {% translate "email" %}
                        </span>
                        <span class="float-right text-muted">
                          {{ user_profile.email }}
                        </span>
                      </p>
                    </div>
                  </div>
                </div>

              </div>
              {% if ami %}
                <div class="col-12 col-md-12 col-lg-8">
                <div class="card">
                  <div class="padding-20">
                    <form method="post" class="needs-validation">
                            {% csrf_token %}
                          <div class="card-header">
                            <h4>Edit Profile</h4>
                          </div>
                          <div class="card-body">
                            <div class="row">
                              <div class="form-group col-md-6 col-12">
                                  {{ user_form.first_name.label_tag }}
                                  {% if  user_form.first_name.errors%}
                                      {{ user_form.first_name | attr:"class:form-control is-invalid, required:required"}}
                                  {% else %}
                                     {{ user_form.first_name | attr:"class:form-control, required:required"}}
                                  {% endif %}
                                <div class="invalid-feedback">
                                  {{ user_form.first_name.errors.as_text }}
                                </div>
                              </div>
                              <div class="form-group col-md-6 col-12">
                                  {{ user_form.last_name.label_tag }}
                                  {% if  user_form.last_name.errors%}
                                      {{ user_form.last_name | attr:"class:form-control is-invalid, required:required"}}
                                  {% else %}
                                     {{ user_form.last_name | attr:"class:form-control, required:required"}}
                                  {% endif %}
                                <div class="invalid-feedback">
                                  {{ user_form.last_name.errors.as_text }}
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="form-group col-md-2 col-12">
                                  {{ profile_form.internal_phone.label_tag }}
                                  {{ profile_form.internal_phone | attr:"class:form-control"}}
                              </div>
                              <div class="form-group col-md-3 col-12">
                                {{ profile_form.mobile_phone.label_tag }}
                                {{ profile_form.mobile_phone | attr:"class:form-control"}}
                              </div>
                              <div class="form-group col-md-7 col-12">
                                {{ profile_form.location.label_tag }}
                                {{ profile_form.location | attr:"class:form-control"}}
                              </div>
                            </div>
                            <div class="row">
                              <div class="form-group col-12">
                                  {{ profile_form.bio.label_tag }}
                                  {{ profile_form.bio | attr:"class:form-control"}}
                              </div>
                            </div>
                          </div>
                          <div class="card-footer text-right">
                            <button class="btn btn-primary">{% translate "Save Changes" %}</button>
                          </div>
                        </form>
                  </div>
                </div>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
    </div>
{% endblock %}

{% block free_content %}
    {% if ami %}
         <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="formModal"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="formModal">{% translate "Change your avatar" %}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">

                <div class="container">
                    <label class="label" data-toggle="tooltip" title="" data-original-title="Change your avatar">
                      <img class="rounded" id="avatar" src="{{MEDIA_URL}}{{ user.profile.avatar }}" alt="avatar">
                      <input type="file" class="sr-only" id="input" name="image" accept="image/*">
                    </label>
                    <div class="progress" style="display: none;">
                      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">100%</div>
                    </div>
                    <div class="alert alert-warning" role="alert" style="display: none;">Upload error</div>
                  </div>

              </div>
            </div>
          </div>
        </div>

        <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" style="display: none;" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Crop the image</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="img-container">
                  <img id="image" src="blob:{{ request.scheme }}:// {{ request.META.HTTP_HOST }}{{MEDIA_URL}}{{ user.profile.avatar }}"  class=""
                  style="max-width:100%; height:auto;">
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="crop">Crop</button>
              </div>
            </div>
          </div>
        </div>

    {% endif %}
{% endblock %}

{% block js_libraries %}
    <script src="{% static "assets/bundles/summernote/summernote-bs4.js"%}"></script>
    <script src="{% static "assets/bundles/prism/prism.js" %}"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>

    <script src="{% static "assets/cropper/cropper.min.js" %}"></script>
    <script>

    window.addEventListener('DOMContentLoaded', function () {
      var avatar = document.getElementById('avatar');
      var image = document.getElementById('image');
      var input = document.getElementById('input');
      var $progress = $('.progress');
      var $progressBar = $('.progress-bar');
      var $alert = $('.alert');
      var $modal = $('#modal');
      var cropper;

      input.addEventListener('change', function (e) {
        var files = e.target.files;
        var done = function (url) {
          input.value = '';
          image.src = url;
          $alert.hide();
          $modal.modal('show');
        };
        var reader;
        var file;
        var url;

        if (files && files.length > 0) {
          file = files[0];

          if (URL) {
            done(URL.createObjectURL(file));
          } else if (FileReader) {
            reader = new FileReader();
            reader.onload = function (e) {
              done(reader.result);
            };
            reader.readAsDataURL(file);
          }
        }
      });

      $modal.on('shown.bs.modal', function () {
        cropper = new Cropper(image, {
          aspectRatio: 1,
          viewMode: 3,
        });
      }).on('hidden.bs.modal', function () {
        cropper.destroy();
        cropper = null;
      });

      document.getElementById('crop').addEventListener('click', function () {
        var initialAvatarURL;
        var canvas;

        $modal.modal('hide');

        if (cropper) {

          canvas = cropper.getCroppedCanvas({
            width: 160,
            height: 160,
          });

          initialAvatarURL = avatar.src;
          avatar.src = canvas.toDataURL();
          $progress.show();
          $alert.removeClass('alert-success alert-warning');
          canvas.toBlob(function (blob) {
            var formData = new FormData();
             formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
             formData.append('avatar', blob, 'avatar.png');
            $.ajax('{% url "account:profile_upload_avatar" %}', {
              method: 'POST',
              data: formData,
              processData: false,
              contentType: false,

              xhr: function () {
                var xhr = new XMLHttpRequest();

                xhr.upload.onprogress = function (e) {
                  var percent = '0';
                  var percentage = '0%';

                  if (e.lengthComputable) {
                    percent = Math.round((e.loaded / e.total) * 100);
                    percentage = percent + '%';
                    $progressBar.width(percentage).attr('aria-valuenow', percent).text(percentage);
                  }
                };

                return xhr;
              },

              success: function () {
                $alert.show().addClass('alert-success').text('Upload success');
                setTimeout(function(){location.reload();}, 500)
              },

              error: function (jqXHR, textStatus, errorThrown) {
                avatar.src = initialAvatarURL;
                $alert.show().addClass('alert-warning').text(textStatus);
              },

              complete: function () {
                $progress.hide();
              },
            });
          });
        }
      });
    });
  </script>
{% endblock %}

{% block page_specific_js %}

{% endblock %}